@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

:root {
	--primary-color: #fbd144;
	--secondary-color: #ffe071;

	--dark-mode-background: #0c151d;
	--light-mode-background: var(--gray-100);

	--white: #ffffff;
	--gray-100: #f1f2f4;
	--gray-200: #c3c7cb;
	--gray-300: #a3abb2;
	--gray-400: #6d6d6d;
	--gray-500: #555555;
	--gray-600: #171f26;
	--gray-700: #222222;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--gray-600);
	background-color: var(--light-mode-background);
}

.container {
	max-width: 650px;
	margin: 0 auto;
}

.personal-info__content {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.personal-info__logo {
	max-width: 110px;
	max-height: 110px;
	padding: 6px;
	border-radius: 50%;
	border: 4px solid var(--primary-color);
}

.personal-info__content {
	text-align: left;
	align-items: center;
}

.personal-info__title {
	font-size: 32px;
	line-height: 1.5;
	font-weight: 600;
	color: var(--gray-700);
}

.personal-info__subtitle {
	margin-bottom: 8px;
	color: var(--gray-500);
}

.personal-info__social-list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.personal-info__social-link {
	color: var(--gray-500);
}
.personal-info__social-link:hover {
	color: var(--gray-700);
}
