@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

:root {
	/* --primary-color: #fbd144; */
	--primary-color: #00a4ff;
	/* --secondary-color: #ffe071; */
	--secondary-color: #0391e0;

	--dark-mode-background: #0c151d;
	--light-mode-background: var(--gray-100);

	--white: #ffffff;
	--gray-100: #f1f2f4;
	--gray-200: #c3c7cb;
	--gray-300: #a3abb2;
	--gray-400: #6d6d6d;
	--gray-500: #555555;
	--gray-600: #171f26;
	--gray-700: #222222;
}

::-webkit-scrollbar {
	width: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--gray-600);
	background-color: var(--light-mode-background);
}

.hidden {
	display: none !important;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 65px;
	padding: 0 40px;
	background-color: var(--white);
}

.header__button {
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
	color: var(--white);
	background-color: var(--primary-color);
	border: none;
	border-radius: 50%;
}

.main {
	margin: 140px 0 160px;
}

.container {
	max-width: 650px;
	margin: 0 auto;
}

.section-title {
	margin-bottom: 18px;
	font-size: 32px;
	font-weight: 600;
	color: var(--gray-700);
}

.section-padding {
	padding: 0 16px;
}

.personal-info__content {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	margin-bottom: 16px;
}

.personal-info__logo {
	max-width: 110px;
	max-height: 110px;
	padding: 6px;
	border-radius: 50%;
	border: 4px solid var(--primary-color);
}

.personal-info__content {
	text-align: left;
	align-items: center;
}

.personal-info__title {
	font-size: 32px;
	line-height: 1.5;
	font-weight: 600;
	color: var(--gray-700);
}

.personal-info__subtitle {
	margin-bottom: 8px;
	color: var(--gray-500);
}

.personal-info__social-list {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.personal-info__social-link {
	color: var(--gray-500);
}
.personal-info__social-link:hover {
	color: var(--gray-700);
}

.profile-actions {
	margin-bottom: 20px;
}

.profile-actions__wrapper {
	display: flex;
	gap: 16px;
}

.profile-actions__button {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 68px;
	height: 56px;
	font-weight: 500;
	color: var(--gray-600);
	background-color: var(--white);
	border: none;
	border-radius: 8px;
}

.profile-actions__button--primary-color {
	gap: 8px;
	width: 464px;
	background-color: var(--primary-color);
}
.profile-actions__button--primary-color:hover {
	background-color: var(--secondary-color);
}

.profile-actions__button--primary-color span {
	width: 20px;
	height: 20px;
	background-image: url(./icons/download-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.content-switcher {
	margin-bottom: 40px;
}

.content-switcher__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 16px;
	height: 72px;
	padding: 0 16px;
	background-color: var(--white);
	border-radius: 16px;
}

.content-switcher__button {
	flex: 1;
	height: 52px;
	/* !Разобраться почему тут возник padding */
	padding: 0;
	font-weight: 500;
	background-color: var(--white);
	border: none;
	border-radius: 8px;
}

.content-switcher__button--active {
	background-color: var(--gray-100);
}

.projects__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.projects__card {
	text-decoration: none;
}

.projects__card-preview {
	margin-bottom: 16px;
}

.projects__card-technology {
	margin-bottom: 6px;
	font-size: 13px;
	color: var(--gray-500);
}

.projects__card-title {
	font-size: 18px;
	font-weight: 500;
	color: var(--gray-600);
}

.container__block {
	display: grid;
	row-gap: 40px;
}

.education__wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.education__block {
	max-width: 287px;
}

.education__date {
	display: grid;
	place-items: center;
	width: 80px;
	height: 24px;
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: 600;
	background-color: var(--primary-color);
	border-radius: 6px;
}

.education__program {
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
}

.education__degree {
	font-size: 14px;
}

.hard-skills__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
}

.hard-skills__item {
	display: grid;
	place-items: center;
}

.hard-skills__image {
	margin-bottom: 8px;
}

.soft-skills__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 18px 40px;
}

.soft-skills__item {
	font-size: 20px;
	font-weight: 600;
}

.footer {
	display: flex;
	align-items: center;
	height: 100px;
}

.footer__page {
	margin: 0 auto;
}
